.dicoder-pircing #price-di-two {
	background: #87ceeb;
}
.dicoder-pircing #price-di-two a {
	background: blue !important;
}

.dicoder-pircing #price-di-three {
	background: #ffdab9;
}
.dicoder-pircing #price-di-three a {
	background: #FFA500 !important;
}

.dicoder-pircing #price-di-four {
	background: #ffb6c1;
}
.currency-85-dicoder {
	margin-left: 0px !important;
	
}
